<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--id属性和mapper的namespace唯一的表示了应用中的sql语句-->
<mapper namespace="com.syw.demo1.dao.UserDao">
<select id="findListAll" resultType="user">
    select id,name,password
           from user1
</select>

<insert id="add" useGeneratedKeys="true" keyProperty="id">
    insert into user1(name,password) values (#{name},#{password})
</insert>

    <update id="edit">
        update user1 set name=#{name},password=#{password}
        where id=#{id}
    </update>
    <delete id="delete">
        delete from user1 where id=#{id}
    </delete>
 <select id="getByPassword" resultType="user">
     select name from user1 where name=#{name} and password=#{password}

 </select>

</mapper>